<!-- 
4 categories (Low Sodium, High Protein / High Calorie, Vegetarian, Low Fiber)
Food_Items: 6 => HPHC, 5 => Low Sodium, 3 => Vegetarian, 4 => Low Fiber
Judges: 6 total, each judging 6 items
1 Food_Item comes out at time 

SCORING
Creativity  		
Overall Taste
Presentation
Category Alignment
10 points per scoring_category
display averages from judges per scoring category
display total average of all categories as final score

 -->
<!DOCTYPE html>
<html>
<head>
	<style>

	body {
		display: block;
		margin: auto;
		font-family: calibri;
		width: 90%;
		/*max-width: 500px;*/
	}

	form {
		font-size: 1em;
	}

	.form_p {
		margin-bottom: 1px;
	}

	#begin_scoring {
		text-align: center;
	}

	.scoring_form {
		margin-left: 10%;
	}

	#scores_header {
		font-weight: bold;
	}

	#submit {
		margin-top: 10px;
	}

	#submit_final {
		margin-top: 10px;
		margin-bottom: 20px;
	}

	</style>
</head>
	<body>
		<h1>Culinary Care - Voting System</h1>
		<h2>Judge - Name</h2>

		<p>Please fill out this entire form. Winners will not be announced until all scores are submitted.</p> 

		<h2 id="begin_scoring">Begin Scoring:</h2>

		<h2>Food_Item</h2>

		<h3>Chef Name</h3>

		<p>Food_Item - DESCRIPTION - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		
		<div class="scoring_form">
			<p id="scores_header">SCORES:</p>
			<form>
				  <p class="form_p">Creativity:</p>
				  <input type="text" name="score_creativity">
				  <br>
				  <p class="form_p">Presentation:</p>
				  <input type="text" name="score_presentation">
				  <br>
				  <p class="form_p">Category Alignment:</p>
				  <input type="text" name="score_alignment">
				  <br>
				  <p class="form_p">Overall Taste:</p>
				  <input type="text" name="score_taste">
				  <br />
			  <input type="submit" value="Submit" id="submit">
			</form>
		</div>

	<p>---------------------------------------------------------------------------</p>

			<h2>Food_Item</h2>

		<h3>Chef Name</h3>

		<p>Food_Item - DESCRIPTION - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		
		<div class="scoring_form">
			<p id="scores_header">SCORES:</p>
			<form>
				  <p class="form_p">Creativity:</p>
				  <input type="text" name="score_creativity">
				  <br>
				  <p class="form_p">Presentation:</p>
				  <input type="text" name="score_presentation">
				  <br>
				  <p class="form_p">Category Alignment:</p>
				  <input type="text" name="score_alignment">
				  <br>
				  <p class="form_p">Overall Taste:</p>
				  <input type="text" name="score_taste">
				  <br />
			  <input type="submit" value="Submit" id="submit">
			</form>
		</div>

	<p>---------------------------------------------------------------------------</p>

			<h2>Food_Item</h2>

		<h3>Chef Name</h3>

		<p>Food_Item - DESCRIPTION - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		
		<div class="scoring_form">
			<p id="scores_header">SCORES:</p>
			<form>
				  <p class="form_p">Creativity:</p>
				  <input type="text" name="score_creativity">
				  <br>
				  <p class="form_p">Presentation:</p>
				  <input type="text" name="score_presentation">
				  <br>
				  <p class="form_p">Category Alignment:</p>
				  <input type="text" name="score_alignment">
				  <br>
				  <p class="form_p">Overall Taste:</p>
				  <input type="text" name="score_taste">
				  <br />
			  <input type="submit" value="Submit" id="submit">
			</form>
		</div>

	<p>---------------------------------------------------------------------------</p>

			<h2>Food_Item</h2>

		<h3>Chef Name</h3>

		<p>Food_Item - DESCRIPTION - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		
		<div class="scoring_form">
			<p id="scores_header">SCORES:</p>
			<form>
				  <p class="form_p">Creativity:</p>
				  <input type="text" name="score_creativity">
				  <br>
				  <p class="form_p">Presentation:</p>
				  <input type="text" name="score_presentation">
				  <br>
				  <p class="form_p">Category Alignment:</p>
				  <input type="text" name="score_alignment">
				  <br>
				  <p class="form_p">Overall Taste:</p>
				  <input type="text" name="score_taste">
				  <br />
			  <input type="submit" value="Submit" id="submit">
			</form>
		</div>


	<p>---------------------------------------------------------------------------</p>

			<h2>Food_Item</h2>

		<h3>Chef Name</h3>

		<p>Food_Item - DESCRIPTION - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		
		<div class="scoring_form">
			<p id="scores_header">SCORES:</p>
			<form>
				  <p class="form_p">Creativity:</p>
				  <input type="text" name="score_creativity">
				  <br>
				  <p class="form_p">Presentation:</p>
				  <input type="text" name="score_presentation">
				  <br>
				  <p class="form_p">Category Alignment:</p>
				  <input type="text" name="score_alignment">
				  <br>
				  <p class="form_p">Overall Taste:</p>
				  <input type="text" name="score_taste">
				  <br />
			  <input type="submit" value="Submit" id="submit">
			</form>
		</div>

	<p>---------------------------------------------------------------------------</p>

			<h2>Food_Item</h2>

		<h3>Chef Name</h3>

		<p>Food_Item - DESCRIPTION - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		
		<div class="scoring_form">
			<p id="scores_header">SCORES:</p>
			<form>
				  <p class="form_p">Creativity:</p>
				  <input type="text" name="score_creativity">
				  <br>
				  <p class="form_p">Presentation:</p>
				  <input type="text" name="score_presentation">
				  <br>
				  <p class="form_p">Category Alignment:</p>
				  <input type="text" name="score_alignment">
				  <br>
				  <p class="form_p">Overall Taste:</p>
				  <input type="text" name="score_taste">
				  <br />
			  <input type="submit" value="Submit" id="submit_final">
			</form>
		</div>


	</body>
</html>
