<!-- 
4 categories (Low Sodium, High Protein / High Calorie, Vegetarian, Low Fiber)
Food_Items: 6 => HPHC, 5 => Low Sodium, 3 => Vegetarian, 4 => Low Fiber
Judges: 6 total, each judging 6 items
1 Food_Item comes out at time 

SCORING
Creativity  		
Overall Taste
Presentation
Category Alignment
10 points per scoring_category
display averages from judges per scoring category
display total average of all categories as final score

 -->
<!DOCTYPE html>
<html>
<head>
	<style>

	body {
		display: block;
		margin: auto;
		font-family: calibri;
		width: 90%;
		/*max-width: 500px;*/
	}

	form {
		font-size: 1em;
	}

	.form_p {
		margin-bottom: 1px;
	}

	#begin_scoring {
		text-align: center;
	}

	.scoring_form {
		margin-left: 10%;
	}

	#scores_header {
		font-weight: bold;
	}

	#submit {
		margin-top: 10px;
	}

	#submit_final {
		margin-top: 10px;
		margin-bottom: 20px;
	}

	</style>
</head>
	<body>
		<h1>Culinary Care - Voting System</h1>
		<h2><%= @judge.name %></h2>

		<p><b>Please fill out this entire form. Winners will not be announced until all scores are submitted.</b></p> 

		<p>Scores are between 1 and 10.</p>

		<h2 id="begin_scoring">Begin Scoring:</h2>

		<div id="food_items">
			<% @judge.assigned_foods.each do |food| %>
				<%= render partial: 'food_item', locals: {food: food, judge: @judge } %>	
			<% end %>
		</div>


	</body>
</html>
