<!DOCTYPE html>
<html>
<head>

</head>
	<body>
		<h1>Culinary Care - Voting System</h1>
		<h2><%= @judge.name %></h2>

		<p><b>Please fill out this entire form. Winners will not be announced until all scores are submitted.</b></p> 

		<p>Scores are between 1 and 10.</p>

		<h2 id="begin_scoring">Begin Scoring:</h2>

		<div id="food_items">
			<% @judge.assigned_foods.each do |food| %>
				<%= render partial: 'food_item', locals: {food: food, judge: @judge } %>	
			<% end %>
		</div>


	</body>
</html>
