<!DOCTYPE html>
<html>
  <head>
    <title>CulinaryCare</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    	<style>

	body {
		display: block;
		margin: auto;
		font-family: calibri;
		width: 90%;
		background-color: #DBF7F3;
		color: #323232;
		/*max-width: 500px;*/
	}

	form {
		font-size: 1em;
	}

	.form_p {
		margin-bottom: 1px;
	}

	#begin_scoring {
		text-align: center;
	}

	.scoring_form {
		margin-left: 10%;
	}

	#scores_header {
		font-weight: bold;
	}

	#submit {
		margin-top: 10px;
	}

	#submit_final {
		margin-top: 10px;
		margin-bottom: 20px;
	}

	</style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
